@tailwind base;
@tailwind components;
@tailwind utilities;



/* Favorites Page Style */
.css-1rri386.builder-block {
  background-color: #F2EDDC;
}

.css-c7v8zh {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 720px;
    justify-content: center;
    align-items: center;
}

.css-c7v8zh h1 {
  font-size: 55px;
}

.css-c7v8zh button {
  width: 100%;
  max-width: 242px;
}


.css-1rvxbli.builder-block {
  background-color: #BF9445 !important;
  max-width: 200px !important;
  width: 100% !important;
  margin: 19px auto !important;
}
